<div class="panel panel-primary text-center no-boder bg-color-green">
  <div class="panel-body">
    <i class="fa fa-bar-chart-o fa-5x"></i>
    <h3><%= t "price_one" %></h3>
  </div>
  <div class="panel-footer back-footer-green">
    <%= t "product_one" %>
  </div>
</div>
<div class="panel panel-primary text-center no-boder bg-color-red">
  <div class="panel-body">
    <i class="fa fa-edit fa-5x"></i>
    <h3><%= t "price_tow" %></h3>
  </div>
  <div class="panel-footer back-footer-red">
    <%= t "product_tow" %>
  </div>
</div>
<div class="panel panel-primary text-center no-boder bg-color-green">
  <div class="panel-body">
    <i class="fa fa-comments-o fa-5x"></i>
    <h4><%= t "price_three" %></h4>
    <h4><%= t "product_three" %></h4>
  </div>
  <div class="panel-footer back-footer-green">
    <i class="fa fa-rocket fa-5x"></i>
    <%= t "product_content" %>
  </div>
</div>
