<%= render "layouts/header_index" %>
<h1 class="heading wow fadeInUp"
  data-wow-duration="400ms"
  data-wow-delay="500ms" ><%= t "about_your" %><span>
  <%= t "about_carts" %></span> </br><%= t "about_website" %><span>
  <%= t "about_framgia" %></span>
</h1>
<div class="page-content">
  <div class="container">
    <div class="row cart-item-show">
      <%= render "list" %>
    </div>
    <% if @cart.present? %>
      <%= form_for @order do |f| %>
        <%= f.submit "Create Order", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "layouts/footer_index" %>
