<%= form_tag products_path, method: :get, class: "form-inline" do %>
  <%= label_tag "#", t("category") %>
  <%= select_tag :category_id,
    options_from_collection_for_select(@categories, :id, :name,
    params[:category_id]),
    {include_blank: t("search_all"), class: "form-control"} %>
  <% Settings.filt.conditions.each do |key, val| %>
    <div class="filter-by">
      <%= radio_button_tag :filter_by, key,
        params[:filter_by] == key.to_s %>
      <%= label_tag "", val %>
    </div>
  <% end %>
  <%= submit_tag t("filter"), class: "form-control" %>
<% end %>
