<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="block wow fadeInLeft"  data-wow-delay="200ms">
          <h3><%= t "footer_contact" %>
            <span><%= t "footer_contact_info" %></span>
          </h3>
          <div class="info">
            <ul>
              <li>
                <h4><i class="fa fa-phone"></i><%= t "footer_phone" %></h4>
                <p><%= t "footer_phone_number" %></p>
              </li>
              <li>
                <h4><i class="fa fa-phone"></i><%= t "footer_phone" %></h4>
                <p><%= t "footer_phone_number" %></p>
              </li>
              <li>
                <h4><i class="fa fa-phone"></i><%= t "footer_phone" %></h4>
                <p><%= t "footer_phone_number" %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block wow fadeInLeft"  data-wow-delay="700ms">
          <h3><%= t "footer_contact" %>
            <span><%= t "footer_contact_info" %></span>
          </h3>
          <div class="blog">
            <ul>
              <li>
                <h4><i class="fa fa-phone"></i><%= t "footer_phone" %></h4>
                <p><%= t "footer_phone_number" %></p>
              </li>
              <li>
                <h4><i class="fa fa-phone"></i><%= t "footer_phone" %></h4>
                <p><%= t "footer_phone_number" %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
          <div class="gallary">
            <h3><%= t "footer_contact" %>
              <span><%= t "footer_contact_info" %></span>
            </h3>
            <ul>
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "photo-1.jpg", alt: "#" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "photo-2.jpg", alt: "#" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "photo-3.jpg", alt: "#" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "photo-4.jpg", alt: "#" %>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="social-media-link">
            <h3><%= t "footer_contact" %>
              <span><%= t "footer_contact_info" %></span>
            </h3>
            <ul>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-twitter"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-dribbble"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-behance"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <p><%= t "footer_button_copy" %>
            <%= link_to t(:footer_button_ct), "#" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
